################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AcademicProgressTracker/App_Data/aspnet-AcademicProgressTracker-20171108125720_log.ldf
/AcademicProgressTracker/App_Data/aspnet-AcademicProgressTracker-20171108125720.mdf
