@model IEnumerable<AcademicProgressTracker.ViewModels.ResultsViewModel>
@{
    ViewBag.Title = "Results";
    ViewBag.Message = "View Your Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>@ViewBag.Message</p>

@foreach (var result in Model)
{
    <div class="row col-md-4">
        @Html.Partial("_Overview", result)
    </div>
}
