@{
    ViewBag.Title = "About";
    ViewBag.Message = "Important information about the Academic Progress tracker";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Although every effort has been made to make the tracking and predictions of the Academic Progress Tracker as accurate as possible,
    there may be some scenarios where the tracking accuracy is not 100% correct. The final degree predicted by this application is informal and should not be taken as fact. 
    The final classification of your degree is the responsibility and authority of your university to determine.</p>
